<div class="container margin-top-10" data-ng-controller="PaymentCtrl">
   <div class="row">
      <div class="panel panel-default">
         <div class="panel-body">
            <form class="form-inline">
               <div class="col-lg-6 col-md-6 col-xs-12">
                  <p translate="HELLO" translate-values="{ name: 'payment.order.name' }"></p>
                  <p translate="VALUE_O" translate-values="{ value: 'payment.order.value' }"></p>
                  <div class="form-group margin-top-10">
                     <label translate="METHOD"></label>
                     <div class="btn-group">
                        <label class="btn btn-default" ng-model="payment.method" uib-btn-radio="0">
                        {{ 'CREDIT' | translate }}
                        </label>
                        <label class="btn btn-default" ng-model="payment.method" uib-btn-radio="1">
                        {{ 'DEBIT' | translate }}
                        </label>
                        <label class="btn btn-default" ng-model="payment.method" uib-btn-radio="2">
                        {{ 'MONEY' | translate }}
                        </label>
                     </div>
                  </div>
                  <div class="form-group margin-top-10">
                     <label translate="CHANGE"></label>
                     <div class="btn-group">
                        <label class="btn btn-default" ng-model="payment.change" uib-btn-radio="true">
                        {{ 'YES' | translate }}
                        </label>
                        <label class="btn btn-default" ng-model="payment.change" uib-btn-radio="false">
                        {{ 'NO' | translate }}
                        </label>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-xs-12">
                  <p translate="PROGRESS"></p>
                  <p translate="CALCULATOR"></p>
                  <div class="form-group margin-top-10">
                     <label for="value" translate="VALUE_OF_ORDER"></label>
                     <input type="text" class="form-control" id="value" data-ng-model="payment.order.value" disabled ui-money-mask
                        style="margin-left: 54px;">
                  </div>
                  <div class="form-group margin-top-10">
                     <label for="persons" translate="PEOPLE"></label>
                     <input type="number" class="form-control" id="persons" data-ng-model="payment.persons" minlength="0"
                        data-ng-change="addNewPerson()">
                  </div>
                  <div class="form-group margin-top-10">
                     <label for="valuePerson" translate="PER_PERSON"></label>
                     <input type="text" class="form-control" id="valuePerson" data-ng-model="payment.valuePerson"
                      ui-money-mask disabled style="margin-left: 43px;">
                  </div>

                  <div class="form-group margin-top-10" data-ng-repeat="p in payment.paymentPersons">
                    <label for="valueP" translate="PERSON" translate-values="{ number: 'p.person' }"></label>
                    <input type="text" class="form-control" id="valueP" data-ng-model="p.value" ui-money-mask data-ng-blur="calcPercentage(p)">
                    <label for="porc">%</label>
                    <input type="number" class="form-control" id="porc" data-ng-model="p.percentage" data-ng-blur="calcValue(p)">
                  </div>
               </div>
               <button class="btn btn-default" ng-click="changeLanguage('en')">ENGLISH</button>
               <button class="btn btn-default" ng-click="changeLanguage('pt')">PORTUGUÊS</button>
               <!--<button class="btn btn-default" data-ng-click="teste()">Finalizar</button>-->
            </form>
         </div>
      </div>
   </div>
</div>
