<div class="container margin-top-10" data-ng-controller="OrderCtrl">
   <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
         <form name="orderForm" novalidate>
            <div class="form-group" data-ng-class="{'has-error' : orderForm.name.$touched && orderForm.name.$invalid}">
               <label for="name">{{ 'NAME' | translate }}</label>
               <input type="text" class="form-control" id="name" name="name"
                  data-ng-maxlength="75" data-ng-model="order.name" placeholder="{{ 'PLACEHOLDER_NAME' | translate }}" required />
                  <p ng-show="orderForm.name.$touched && orderForm.name.$invalid" class="help-block">{{ 'ERROR_FIELD' | translate }}</p>
            </div>
            <div class="form-group" data-ng-class="{'has-error' : orderForm.address.$touched && orderForm.address.$invalid}">
               <label for="address">{{ 'ADDRESS' | translate }}</label>
               <input type="text" class="form-control" id="address" name="address"
                  data-ng-maxlength="100" data-ng-model="order.address" placeholder="{{ 'PLACEHOLDER_ADDRESS' | translate }}" required />
                  <p ng-show="orderForm.address.$touched && orderForm.address.$invalid" class="help-block">{{ 'ERROR_FIELD' | translate }}</p>
            </div>
            <div class="form-group">
               <label for="snacks-default">{{ 'SNACKS' | translate }}</label>
               <select class="form-control" id="snacks-default" name="snacksDefault"
                  data-ng-model="default" data-ng-options="snackDefault.name for snackDefault in listOfSnacksDefaults"
                  data-ng-change="setSnackDefault(snackDefault)"></select>
            </div>
            <div class="form-group" data-ng-class="{'has-error' : orderForm.bread.$touched && orderForm.bread.$invalid}">
               <label for="bread">{{ 'BREADS' | translate }}</label>
               <select class="form-control" id="bread" name="bread"
                  data-ng-model="snack.bread" data-ng-options="bread.namePt for bread in listOfBreads track by bread.id" ng-required="true"
                  data-ng-change="clearSnackDefault()">
               </select>
               <p ng-show="orderForm.bread.$touched && orderForm.bread.$invalid" class="help-block">{{ 'ERROR_FIELD' | translate }}</p>
            </div>
            <div class="form-group">
               <label for="cheese">{{ 'CHEESE' | translate }}</label>
               <select class="form-control" id="cheese"
                  data-ng-model="snack.cheese" data-ng-options="cheese.namePt for cheese in listOfCheeses track by cheese.id"
                  data-ng-change="clearSnackDefault()">
               </select>
               <label class="checkbox-inline margin-left-27">
               <input type="checkbox" id="inlineCheckbox1" value="option1" data-ng-model="dCheese" data-ng-click="doubleCheese()"> {{ 'DOUBLE' | translate }}
               </label>
            </div>
            <div class="form-group">
               <label for="filling">{{'FILLING' | translate }}</label>
               <select class="form-control" id="filling"
                  data-ng-model="snack.filling" data-ng-options="filling.namePt for filling in listOfFillings track by filling.id"
                  data-ng-change="clearSnackDefault()">
               </select>
               <label class="checkbox-inline margin-left-27">
               <input type="checkbox" id="inlineCheckbox1" value="option1" data-ng-model="dFilling" data-ng-click="doubleFilling()"> {{ 'DOUBLE' | translate }}
               </label>
            </div>
            <div class="form-group" data-ng-class="{'has-error' :!snack.salad}">
               <label for="bread">{{ 'SALAD' | translate }}</label>
               <div class="btn-group">
                  <label class="btn btn-default" data-ng-repeat="salad in listOfSalads track by salad.id" ng-required="true" name="teste"
                     ng-model="snack.salad" ng-click="clearSnackDefault()" uib-btn-radio="salad">{{lang === 'pt' ? salad.namePt : salad.nameEn}}</label>
               </div>
               <label class="checkbox-inline">
               <input type="checkbox" id="inlineCheckbox1" value="option1"
                  data-ng-model="dSalad" data-ng-click="doubleSalad()"> {{ 'DOUBLE' | translate }}
               </label>
               <p ng-show="!snack.salad" class="help-block">{{ 'ERROR_FIELD' | translate }}</p>
            </div>
            <div class="form-group">
               <label for="bread">{{ 'SAUCES' | translate }}</label>
               <div class="btn-group">
                   <label class="btn btn-default" data-ng-repeat="sauce in listOfSauces" ng-model="checkModel" uib-btn-checkbox data-ng-click="teste()">
                    {{lang === 'pt' ? sauce.namePt : sauce.nameEn}}
                  </label>
               </div>
            </div>
            <div class="form-group">
               <label for="bread">{{ 'SPICES' | translate }}</label>
               <div class="btn-group">
                   <label class="btn btn-default" data-ng-repeat="spice in listOfSpices" ng-model="checkModel2" uib-btn-checkbox data-ng-click="teste()">
                    {{lang === 'pt' ? spice.namePt : spice.nameEn}}
                  </label>
               </div>
            </div>
            <div class="form-group">
               <label for="value" id="value-order">{{ 'SNACK_VALUE' | translate }}</label>
               <input type="text" class="form-control" id="value" name="value" data-ng-model="snack.value" ui-money-mask disabled />
            </div>
            <div class="form-group pull-right">
               <button id="btn-save" class="btn btn-primary btn-lg" data-ng-click="addSnack()" data-ng-disabled="!orderForm.$valid">
               <i class="fa fa-floppy-o" aria-hidden="true"></i>
               {{ 'SAVE' | translate }}
               </button>
               <button type="submit" class="btn btn-success btn-lg" data-ng-click="saveNewOrder()">
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
               {{ 'FINISH' | translate }}
               </button>
            </div>
         </form>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
         <div class="row">
           <button class="btn btn-default pull-left margin-top-25 margin-left-10" ng-click="changeLanguage('en')">ENGLISH</button>
           <button class="btn btn-default pull-left margin-top-25 margin-left-10" ng-click="changeLanguage('pt')">PORTUGUÊS</button>
            <img src="../img/logo.png" class="hidden-xs img-responsive pull-right" alt="Logo" />
         </div>
         <div class="panel panel-default margin-top-10">
            <div class="panel-body">
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>{{ 'SELECTED_SNACKS' | translate }}</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr data-ng-repeat="s in snacks">
                           <td>{{s.bread.name}} - {{s.cheese.name}} - {{s.filling.name}} - {{s.salad.name}} - {{s.value}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="form-group" id="values-final">
            <label for="final-value">{{ 'VALUE_OF_ORDER' | translate }}</label>
            <input type="text" class="form-control" id="final-value" name="value-order" data-ng-model="order.value" ui-money-mask disabled />
         </div>
      </div>
   </div>
</div>
