.margin-top-10 {
  margin-top: 10px;
}

#value-order #total-value {
  font-size: 24px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-23 {
  margin-left: 23px;
}

.margin-left-27 {
  margin-left: 27px;
}

#btn-save {
  margin-right: 10px;
}

#values-final label {
  font-size: 40px;
}

#values-final input {
  font-size: 45px;
  height: 65px;
}

.margin-top-25 {
  margin-top: 25px;
}
